<%- include('partials/header') %>

<title>Sign in</title>
</head>
<body>
    
    <h1>
        ( ͡° ͜ʖ ͡°)
    </h1>
    <h1>There are bodies under my floorboards</h1>

    <a href="/logout">Log out</a>

<%- include('partials/footer') %>